a
  color: #049D00

header
  text-align: center
  padding: 1em 0

  h1
    margin-bottom: 1em
    font-size: 1.20em
    text-transform: uppercase


.search-info
  margin-bottom: 10px

.package-small
  border: 1px solid whitesmoke
  padding: 10px
  height: 130px
  margin-bottom: 20px
