// Variables

primary = #33CC00

// Tags

a
  color: primary

  &[target='_blank']
    color: silver

h1, h2, h3
  margin-bottom: .5em

header
  text-align: center
  margin: 3em 0

  &.landing
    position: absolute
    top: 50%
    left: 50%
    margin-left: -175px
    margin-top: -80px

    height: 160px
    width: 350px

  a, a:hover
    text-decoration: none
    color: black

    span
      color: primary

// General

.box
  position: relative
  margin-bottom: 20px
  background: #FCFCFC
  border: 1px solid #ECECEC
  padding: 10px


// Search

.search-info
  margin-bottom: 10px

.search-result
  height: 110px

  h3
    font-weight: normal
    font-size: 1.5em
    margin-bottom: .5em

    .version
      font-size: .80em
      color: silver

  .person
    text-align: right
    font-size: .9em
    position: absolute
    top: 10px
    right: 10px
    color: silver

  .description
    margin-bottom: 1em

// Packages

.tags
  a
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    background: #D6FFC8
    color: green
    margin: 0 2px 2px 0
