!!! 5
html
  head
    title Node Package Search
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylus/website.css')
  body
    header
      h1 
        a( href=url('search_new') ) Node Package Finder
      include search/_form

    .container
      block content
