a {
  color: #3c0;
}
a[target='_blank'] {
  color: #c0c0c0;
}
h1,
h2,
h3 {
  margin-bottom: 0.5em;
}
header {
  text-align: center;
  padding: 2em 0;
}
header a,
header a:hover {
  text-decoration: none;
  color: #000;
}
header a span,
header a:hover span {
  color: #3c0;
}
.box {
  position: relative;
  margin-bottom: 20px;
  background: #fcfcfc;
  border: 1px solid #ececec;
  padding: 10px;
}
.search-info {
  margin-bottom: 10px;
}
.search-result {
  height: 110px;
}
.search-result h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.search-result h3 .version {
  font-size: 0.8em;
  color: #c0c0c0;
}
.search-result .person {
  text-align: right;
  font-size: 0.9em;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c0c0c0;
}
.search-result .description {
  margin-bottom: 1em;
}
.tags a {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  background: #d6ffc8;
  color: #008000;
  margin: 0 2px 2px 0;
}
