extends ../layout

block content
  .container
    .row
      .span12
        form(action=url('search_index'), method='get')
          input( type='text', name='q' )
          button.btn( type='submit' ) Search
