extends ../layout

block content
  div.landing
    h1 Node Package Finder
    form.form-horizontal(action=url('search_index'), method='get')
      .input-append
        input( type='text', name='q' )
        button.btn( type='submit' ) Search
